<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >

</head>
<body>
	我是注册界面

	<form action="{url('user','doReg')}" method="post">
		<div class="form-group">
			<label >用户名</label> 
			<input name="uname" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label >密码</label> 
			<input name="upwd" type="text" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary">

		</div>
		
	</form>
</body>
</html>