<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="public/static/home.css?1">

	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>

	<style type="text/css">ul{padding: 0;}</style>
</head>
<body>

	<?
// 一位数组的菜单
	 $menu_a = ['首页','牦牛','公牛','老牛'];

	 // 数组
	 $left_menu_a = [
	 			[
			 		'icon'=>
	'images/cate_1.png',//图标
			 		'title'=>'新鲜水果',//标题
			 		'top_three'=>['芒果','西瓜','榴莲']//前三个热门分类
			 	],
			 	[
			 		'icon'=>'images/cate_2.png',
			 		'title'=>'海鲜水产',
			 		'top_three'=>['小龙虾','大闸蟹','小驴米']
			 	],
			 	[
			 		'icon'=>'images/cate_1.png',
			 		'title'=>'新鲜水果',
			 		'top_three'=>['芒果','西瓜','榴莲']
			 	],
			 	[
			 		'icon'=>'images/cate_1.png',
			 		'title'=>'新鲜水果',
			 		'top_three'=>['芒果','西瓜','榴莲']
			 	]

	 ];
?>
	<div class="container view">
		<div class="row">
			<!-- 两列column，col -->
			<!-- >
			960px -->
			<div class="col-xs-5 col-md-3">京东logo</div>
			<div class="col-xs-7 col-md-9">
				<input type="text">
				<?	
			if (empty($_SESSION['uname'])) {
				echo '请登录';
			}else{
				echo $_SESSION['uname'].'欢迎你';
			}

			?></div>
		</div>
		<div class="first_box">
			<div class="row">
				<div class="col-md-3 cate_zhu_title">商品分类</div>
				<div class="col-md-6">
					<ul class="row menu_box">
						<!-- foreach($menu_a as $key=>
						$val){ 
							语法1：foreach(数组变量 as 值)
							语法2：foreach(数组变量 as 键=>值)
					 	 -->
						<? foreach($menu_a as $key=>
						$val){ 
							// 数组的长度
							// count(数组的变量)
							$shushu = "|";
							if (count($menu_a)-1 == $key) {
								 $shushu = "";
							}

						echo "
						<li class='col-md-2 home'>
							<a href='' class='active'>$val</a>
							<span>$shushu</span>
						</li>
						";

						  }?>
					</ul>
				</div>
				<div class="col-md-3 pzbz_enter">
					<span class="glyphicon glyphicon-cloud"></span>
					品质保障
				</div>

			</div>
			<div class="row"></div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<!-- 左边菜单分类盒子 -->
				<ul>
					<?php foreach ($left_menu_a as  $value) {
						echo "<li class='row'>
					<div class='col-md-2'>
						<img src='".$value['icon']."'></div>
					<div class='col-md-10'>".$value['title']."</div>
				</li>
				";
					}
					?>
			</ul>
		</div>
		<div class="col-md-6"></div>
		<div class="col-md-3"></div>
	</div>

	<div class="second_box">
		<div class="title_box">
			京/东/生/鲜
			<br>JD FRESH</div>
		<div class="fruite_ad_box">
			<div class="cate_child_box">新鲜水果</div>
			<div class=" center-img">
				<img src="https://img10.360buyimg.com/babel/jfs/t21754/57/2277969605/75275/5b9c3164/5b4daa68Nc4e84ccc.jpg" alt=""></div>
			<div class="">
				<img src="https://img10.360buyimg.com/babel/jfs/t21664/245/2283527152/74293/148a9d13/5b4edc58N0e3604f3.png!q80.webp" alt=""></div>
		</div>
		<div class="row"></div>
		<div class="row"></div>
	</div>

	<div class="row">
		<div class="row">
			<!-- offset -->
			<div @click="change_goods(0)" class="col-md-2 " :class="{'cur':box_code == 0}">早</div>

			<div @click="change_goods(1)" class="col-md-2" :class="{'cur':box_code == 1}">中</div>

			<div @click="change_goods(2)" class="col-md-2" :class="{'cur':box_code == 2}">晚</div>
			<div class="pull-right col-md-3">倒计时</div>
		</div>
		<div class="row goods_list_box">
			<div class="left_arrow" @click="go_left()">
				左
				< </div>
					<div class="right_arrow" @click="go_right()">右 ></div>
					{{change_num_a}}
					<div class="paopao_box">

						<div  v-for="n in 3" @click="go_num(n)" :class="{'active':change_num_a[box_code] == n-1}"></div>
					</div>
					<ul v-show="box_code == 0" class="morning_box goods_list" :style="
					'margin-left:'+move_px[box_code]
					">
						<li v-for="info in goods_data">
							<a :href="'http://localhost/18shujia/lesson_11/index.php?control=jdsx&action=info&id='+info.id">
								<img style="width: 180px;height: 180px" :src="info.g_thumb" alt=""></a>
							<p>{{info.g_name}}</p>
						</li>

					</ul>
					<ul v-show="box_code == 1" class="  zhong_box goods_list" :style="
					'margin-left:'+move_px[box_code]
					">
						<li v-for="n in 15">
							<img src="https://img12.360buyimg.com/babel/s180x180_jfs/t19108/124/835756799/198232/a716187e/5aab650fN93808796.jpg!q80.webp" alt="">
							<p>{{n}}</p>

						</li>

					</ul>

					<ul v-show="box_code == 2" class="  evening_box goods_list" :style="
					'margin-left:'+move_px[box_code]
					">
						<li v-for="n in 15">
							<img src="https://img11.360buyimg.com/babel/s180x180_jfs/t22015/283/3499501/402666/93208086/5af4e3aaN4af82e49.jpg!q80.webp" alt="">
							<p>{{n}}</p>

						</li>

					</ul>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		
		new Vue({
			el:'.view',
			data:{
				box_code:0,//当前显示的商品盒子代号
				move_px:[0,0,0],//移动的像素
				change_num_a:[0,0,0],//切换的次数
				box_width:-1100,//盒子的宽度
				goods_data:[],//商品数据模型
			},
			created(){
				this.$http.get('http://localhost/18shujia/lesson_11/index.php?control=jdsx&action=getGoods')
				.then((rtnD)=>{
					this.goods_data = rtnD.data
					console.log(this.goods_data)
				})
			},
			methods:{
				change_goods(code){
					// 数据驱动
					this.box_code = code
				},
				go_left(){
					num = --this.change_num_a[this.box_code] <=0 ? 0 : this.change_num_a[this.box_code] 

					 this.$set(this.change_num_a,this.box_code,num) 
					// 移动的距离 = 切换的次数 * 盒子的宽度
					this.move_px[this.box_code] = this.change_num_a[this.box_code] * this.box_width + "px"
				},
				go_right(){
					num = ++this.change_num_a[this.box_code] >=2 ? 2 : this.change_num_a[this.box_code] 

					// 第一个参数：要修改的数组数据模型
					// 第二个参数：数组的下标，对象就是属性
					// 第三个参数：新的值
					this.$set(this.change_num_a,this.box_code,num) 

					// 移动的距离 = 切换的次数 * 盒子的宽度
					this.move_px[this.box_code] = this.change_num_a[this.box_code] * this.box_width + "px"
				},
				go_num(num){
					--num
 					// $set数组修改的时候
 					this.$set(this.change_num_a,this.box_code,num)
					 

					console.log(this.change_num_a)
					// 数组双向绑定，只有删除和添加的时候，才会双向更新
					// 气泡切换
					this.move_px[this.box_code] = num * this.box_width + "px"
				},
				 
			}
		})
	</script>
</body>
	</html>