<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东生鲜 - 欢迎注册</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >


</head>
<body>
	<div class="container">
		<h3>大佬欢迎你</h3>
		<form action="doreg.php" class="form">
			<div class="form-group">
				<label >用户名</label>
				<input name="u_name" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label >手机号码</label>
				<input name="mobile" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label >密码</label>
				<input name="pwd" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label >重复密码</label>
				<input name="rpwd" type="text" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-success btn-block">
			</div>
		</form>

	</div>
</body>
</html>